/* Estilo da página */
.container {
    text-align: center;
    margin-top: 50px;
}

/* Estilo do relógio */
#relógio {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #d8b3d6;
    cursor: pointer;
    background-color: #d8b3d6;
    color: white;
}

button:hover {
    background-color: #c6a2c6;
}

/* Link de voltar */
.voltar {
    display: inline-block;
    margin-top: 20px;
    color: #d8b3d6;
    text-decoration: none;
}

.voltar:hover {
    color: #c6a2c6;
}
